body {
    background-color: #181027;
    color: white;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.landingimg {
    width: 70%;
    float: right;
}

.hlanding {
    padding-top: 15%;
    padding-left: 5%;
}

.navigation ul {
    display: flex;
    
    list-style: none;
    
}

.navigation ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    border-bottom: white;
}

.toplogo {
    width: 100%;
}